# Default ignored files
/shelf/
/workspace.xml

# IntelliJ IDEA
.idea/
*.iml
out/

# Maven
target/


# Biner Java
*.class
*.jar
*.war
*.ear

# Log
*.log
hs_err_pid*.log

# File OS
.DS_Store
Thumbs.db

